@font-face {
  font-family: edo;
  src: url(../assets/edo.ttf);
}

.preloader {
  background: #000 url(../assets/loader.gif) no-repeat center center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-size: 20%;
}

#myVideo {
  position: fixed;
  min-width: 120%;
  min-height: 120%;
  z-index: -1;
  opacity: 70%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000000ee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero img {
  width: 60%;
}

.counter {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.tick {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  white-space: nowrap;
}

.tick-flip,
.tick-text-inline {
  font-size: 2.5em;
}

.tick-label {
  margin-top: 1em;
  font-size: 1em;
}

.tick-char {
  width: 1.5em;
}

.tick-text-inline {
  display: inline-block;
  text-align: center;
  min-width: 1em;
}

.tick-text-inline+.tick-text-inline {
  margin-left: -.325em;
}

.tick-group {
  margin: 0 .5em;
  text-align: center;
}

.tick-text-inline {
  color: #595d63 !important;
}

.tick-label {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffffff !important;
}

.tick-flip-panel {
  font-weight: 700;
  color: #fff !important;
}

.tick-flip {
  font-family: clearsans-regular, sans-serif !important;
}

.tick-flip-panel-text-wrapper {
  line-height: 1.4 !important;
}

.tick-flip-panel {
  background-color: #3c3e3c !important;
}

.tick-flip {
  border-radius: 0.12em !important;
}


.type {
  user-select: none;
  margin: 30px 0;
  height: 50px;
  font-family: "edo";
  font-size: 3rem;
}

.type a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}


.social-icon ul li {
  list-style: none;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon ul {
  display: flex;
  gap: 20px;
}

.social-icon ul a li {
  margin-top: 1.5px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.social-icon ul li a i {
  margin: 0;
  padding: 0;
}

.yt:hover {
  background-color: red;
  transition: 0.2s ease-in-out;
}

.yt:hover,
.insta:hover,
.fb:hover,
.mail:hover {
  color: white;
  transition: 0.2s ease-in-out;
}

.insta:hover {
  background-color: rgb(252, 92, 198);
  transition: 0.2s ease-in-out;
}

.fb:hover {
  background-color: rgb(39, 86, 240);
  transition: 0.2s ease-in-out;
}

.mail:hover {
  background-color: rgb(37, 37, 37);
  transition: 0.2s ease-in-out;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.8rem;
}

footer p {
  padding: 20px 40px;

}

@media (max-width: 576px) {

  .preloader {
    background-size: 50%;
  }

  .hero img {
    width: 95%;
  }

  .counter {
    width: 80%;
  }

  .type {
    cursor: unset;
    font-size: 2.5rem;
  }

  .social-icon ul li {
    width: 30px;
    height: 30px;
  }

  .social-icon ul {
    gap: 15px;
  }


}


@media (min-width: 577px) and (max-width:768px) {

  .preloader {
    background-size: 50%;
  }

  .hero img {
    width: 80%;
  }

  .counter {
    width: 65%;
  }

  .type {
    font-size: 2.5rem;
  }

  .social-icon ul li {
    width: 30px;
    height: 30px;
  }

  .social-icon ul {
    gap: 20px;
  }

}



/* Blur */

.active {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

.popup {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px 30px;
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  display: none;
  transition: transform .2s;


  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
}

@media (max-width:577px) {

  .popup{
    width: 90%;
  }
}


.popactive {
  display: block;
  transition: ease-in-out 2s;
}

.popup-content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ticket {
  width: 100px;
  margin-bottom: 20px;
}

.popup-content>button {
  cursor: pointer;
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #121212;
  color: white;
  transition: 0.2s ease-in-out;
}

.popup-content>button:hover {
  background-color: white;
  color: #121212;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  outline: none;
  padding: 1px 5px;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 0px 20px 5px rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
}

.close>button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

canvas{
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}